# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# Executables
# *.exe
*.out
*.app

# Common
**/bin/
**/bin-int/

# MacOs crap
.DS_Store
*.xcworkspace
*.xcodeproj

# Windows crap
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
**/.vs/
Installer/app/Atom.pdb
Installer/backup/atom_sj_setup_script.iss
Installer/backup/Space Jump_Setup.exe
Installer/backup/app/Atom.pdb
Installer/backup/app/fmod.dll
Installer/backup/app/fmodstudio.dll
Installer/backup/app/fsbank.dll
Installer/backup/app/imgui.ini
Installer/backup/app/last_checkpoint.json
Installer/backup/app/libfsbvorbis64.dll
Installer/backup/app/opus.dll
Installer/backup/app/Space Jump.exe
Installer/backup/app/Atom/res/animation/knightSlice0.png
Installer/backup/app/Atom/res/animation/knightSlice1.png
Installer/backup/app/Atom/res/animation/knightSlice2.png
Installer/backup/app/Atom/res/animation/latern0.png
Installer/backup/app/Atom/res/animation/latern1.png
Installer/backup/app/Atom/res/animation/latern2.png
Installer/backup/app/Atom/res/animation/latern3.png
Installer/backup/app/Atom/res/animation/Vampire0.png
Installer/backup/app/Atom/res/animation/Vampire1.png
Installer/backup/app/Atom/res/animation/Vampire2.png
Installer/backup/app/Atom/res/animation/Vampire3.png
Installer/backup/app/Atom/res/art/atom_game_splash.png
Installer/backup/app/Atom/res/art/atom_members.png
Installer/backup/app/Atom/res/art/atom_production_1920x1080.png
Installer/backup/app/Atom/res/art/atom_production_800x800.jpg
Installer/backup/app/Atom/res/art/atom_production_800x800.png
Installer/backup/app/Atom/res/art/atom_production_800x800_orange.png
Installer/backup/app/Atom/res/art/atom_splash.png
Installer/backup/app/Atom/res/art/Background.jpg
Installer/backup/app/Atom/res/art/black.png
Installer/backup/app/Atom/res/art/bullet_count.png
Installer/backup/app/Atom/res/art/bullet_speed.png
Installer/backup/app/Atom/res/art/CharacterBullet.png
Installer/backup/app/Atom/res/art/CharacterBullet2.png
Installer/backup/app/Atom/res/art/created_at_digipen.PNG
Installer/backup/app/Atom/res/art/createddigipen.png
Installer/backup/app/Atom/res/art/digipen_logo - Copy.png
Installer/backup/app/Atom/res/art/digipen_logo.png
Installer/backup/app/Atom/res/art/double_health.png
Installer/backup/app/Atom/res/art/Enemy.png
Installer/backup/app/Atom/res/art/EnemyBullet.png
Installer/backup/app/Atom/res/art/faculty.PNG
Installer/backup/app/Atom/res/art/FixedPlatform1.png
Installer/backup/app/Atom/res/art/FixedPlatform2.png
Installer/backup/app/Atom/res/art/fmod_logo.png
Installer/backup/app/Atom/res/art/fmod_logo2.png
Installer/backup/app/Atom/res/art/full_health.png
Installer/backup/app/Atom/res/art/game_logo.png
Installer/backup/app/Atom/res/art/game_logo_1.png
Installer/backup/app/Atom/res/art/grass.png
Installer/backup/app/Atom/res/art/img.jpg
Installer/backup/app/Atom/res/art/indicator.png
Installer/backup/app/Atom/res/art/intro.png
Installer/backup/app/Atom/res/art/intro_big.png
Installer/backup/app/Atom/res/art/intro_controls.png
Installer/backup/app/Atom/res/art/intro_small.png
Installer/backup/app/Atom/res/art/intro2.png
Installer/backup/app/Atom/res/art/jump.png
Installer/backup/app/Atom/res/art/Large.png
Installer/backup/app/Atom/res/art/level_01_background.png
Installer/backup/app/Atom/res/art/MovingPlatform.png
Installer/backup/app/Atom/res/art/orange.png
Installer/backup/app/Atom/res/art/orange_transparent.png
Installer/backup/app/Atom/res/art/PlatformEnemy.png
Installer/backup/app/Atom/res/art/right_arrow.png
Installer/backup/app/Atom/res/art/Small.png
Installer/backup/app/Atom/res/art/starfield_800x800.png
Installer/backup/app/Atom/res/art/stars_01.jpg
Installer/backup/app/Atom/res/art/Stream_Line.png
Installer/backup/app/Atom/res/art/Streamline.png
Installer/backup/app/Atom/res/art/Switch_Off.png
Installer/backup/app/Atom/res/art/Switch_On.png
Installer/backup/app/Atom/res/art/team_logo.png
Installer/backup/app/Atom/res/art/team_memeber_logo.png
Installer/backup/app/Atom/res/art/trap - Copy.png
Installer/backup/app/Atom/res/art/trap.png
Installer/backup/app/Atom/res/art/Trigger.png
Installer/backup/app/Atom/res/art/Wall.jpg
Installer/backup/app/Atom/res/art/wall_jump.png
Installer/backup/app/Atom/res/art/yellow.png
Installer/backup/app/Atom/res/audio/atom_space_jump_ambient.wav
Installer/backup/app/Atom/res/audio/bullet-retro-gun-shot.mp3
Installer/backup/app/Atom/res/audio/bulletshot.mp3
Installer/backup/app/Atom/res/audio/death.wav
Installer/backup/app/Atom/res/audio/EllenFootstepJump.ogg
Installer/backup/app/Atom/res/audio/EllenFootstepLand.ogg
Installer/backup/app/Atom/res/audio/jump.ogg
Installer/backup/app/Atom/res/audio/land.ogg
Installer/backup/app/Atom/res/audio/menu_click.wav
Installer/backup/app/Atom/res/audio/optimus_speech.ogg
Installer/backup/app/Atom/res/audio/suspense_loop.wav
Installer/backup/app/Atom/res/audio/wariyo_mortals.ogg
Installer/backup/app/Atom/res/fonts/arial.ttf
Installer/backup/app/Atom/res/fonts/arialbd.ttf
Installer/backup/app/Atom/res/fonts/arialbi.ttf
Installer/backup/app/Atom/res/fonts/ariali.ttf
Installer/backup/app/Atom/res/fonts/ariblk.ttf
Installer/backup/app/Atom/res/levels/animations.json
Installer/backup/app/Atom/res/levels/characters.json
Installer/backup/app/Atom/res/levels/Level_Default.json
Installer/backup/app/Atom/res/levels/Level0_Map.json
Installer/backup/app/Atom/res/levels/Level0_Settings.json
Installer/backup/app/Atom/res/levels/Level1_Map.json
Installer/backup/app/Atom/res/levels/Level1_Settings.json
Installer/backup/app/Atom/res/levels/Level10_Map.json
Installer/backup/app/Atom/res/levels/Level10_Settings.json
Installer/backup/app/Atom/res/levels/Level11_Map.json
Installer/backup/app/Atom/res/levels/Level11_Settings.json
Installer/backup/app/Atom/res/levels/Level2_Map.json
Installer/backup/app/Atom/res/levels/Level2_Settings.json
Installer/backup/app/Atom/res/levels/Level3_Map.json
Installer/backup/app/Atom/res/levels/Level3_Settings.json
Installer/backup/app/Atom/res/levels/Level4_Map.json
Installer/backup/app/Atom/res/levels/Level4_Settings.json
Installer/backup/app/Atom/res/levels/Level5_Map.json
Installer/backup/app/Atom/res/levels/Level5_Settings.json
Installer/backup/app/Atom/res/levels/Level6_Map.json
Installer/backup/app/Atom/res/levels/Level6_Settings.json
Installer/backup/app/Atom/res/levels/Level7_Map.json
Installer/backup/app/Atom/res/levels/Level7_Settings.json
Installer/backup/app/Atom/res/levels/Level8_Map.json
Installer/backup/app/Atom/res/levels/Level8_Settings.json
Installer/backup/app/Atom/res/levels/Level9_Map.json
Installer/backup/app/Atom/res/levels/Level9_Settings.json
Installer/backup/app/Atom/res/levels/LevelA1_Map.json
Installer/backup/app/Atom/res/levels/LevelA1_Settings.json
Installer/backup/app/Atom/res/levels/LevelA10_Map.json
Installer/backup/app/Atom/res/levels/LevelA10_Settings.json
Installer/backup/app/Atom/res/levels/LevelA11_Map.json
Installer/backup/app/Atom/res/levels/LevelA11_Settings.json
Installer/backup/app/Atom/res/levels/LevelA2_Map.json
Installer/backup/app/Atom/res/levels/LevelA2_Settings.json
Installer/backup/app/Atom/res/levels/LevelA3_Map.json
Installer/backup/app/Atom/res/levels/LevelA3_Settings.json
Installer/backup/app/Atom/res/levels/LevelA4_Map.json
Installer/backup/app/Atom/res/levels/LevelA4_Settings.json
Installer/backup/app/Atom/res/levels/LevelA5_Map.json
Installer/backup/app/Atom/res/levels/LevelA5_Settings.json
Installer/backup/app/Atom/res/levels/LevelA6_Map.json
Installer/backup/app/Atom/res/levels/LevelA6_Settings.json
Installer/backup/app/Atom/res/levels/LevelA7_Map.json
Installer/backup/app/Atom/res/levels/LevelA7_Settings.json
Installer/backup/app/Atom/res/levels/LevelA8_Map.json
Installer/backup/app/Atom/res/levels/LevelA8_Settings.json
Installer/backup/app/Atom/res/levels/LevelA9_Map.json
Installer/backup/app/Atom/res/levels/LevelA9_Settings.json
Installer/backup/app/Atom/res/levels/LevelB1_Map.json
Installer/backup/app/Atom/res/levels/LevelB1_Settings.json
Installer/backup/app/Atom/res/levels/LevelB2_Map.json
Installer/backup/app/Atom/res/levels/LevelB2_Settings.json
Installer/backup/app/Atom/res/levels/LevelC1_Map.json
Installer/backup/app/Atom/res/levels/LevelC1_Settings.json
Installer/backup/app/Atom/res/levels/LevelED1_Map.json
Installer/backup/app/Atom/res/levels/LevelED1_Settings.json
Installer/backup/app/Atom/res/levels/LevelED2_Map.json
Installer/backup/app/Atom/res/levels/LevelED2_Settings.json
Installer/backup/app/Atom/res/levels/LevelED3_Map.json
Installer/backup/app/Atom/res/levels/LevelED3_Settings.json
Installer/backup/app/Atom/res/levels/LevelED4_Map.json
Installer/backup/app/Atom/res/levels/LevelED4_Settings.json
Installer/backup/app/Atom/res/levels/LevelED5_Map.json
Installer/backup/app/Atom/res/levels/LevelED5_Settings.json
Installer/backup/app/Atom/res/levels/LevelED6_Map.json
Installer/backup/app/Atom/res/levels/LevelED6_Settings.json
Installer/backup/app/Atom/res/levels/LevelMenu_Map.json
Installer/backup/app/Atom/res/levels/LevelMenu_Settings.json
Installer/backup/app/Atom/res/levels/LevelOP1_Map.json
Installer/backup/app/Atom/res/levels/LevelOP1_Settings.json
Installer/backup/app/Atom/res/levels/LevelOP2_Map.json
Installer/backup/app/Atom/res/levels/LevelOP2_Settings.json
Installer/backup/app/Atom/res/levels/LevelOP3_Map.json
Installer/backup/app/Atom/res/levels/LevelOP3_Settings.json
Installer/backup/app/Atom/res/levels/LevelOP4_Map.json
Installer/backup/app/Atom/res/levels/LevelOP4_Settings.json
Installer/backup/app/Atom/res/levels/LevelOP5_Map.json
Installer/backup/app/Atom/res/levels/LevelOP5_Settings.json
Installer/backup/app/Atom/res/shaders/ColorRec.shader
Installer/backup/app/Atom/res/shaders/ParticleEffect.shader
Installer/backup/app/Atom/res/shaders/RenderParticle.shader
Installer/backup/app/Atom/res/shaders/renderText.shader
Installer/backup/app/Atom/res/shaders/TextureRec.shader
Installer/backup/copyright/DigiPen_EULA.txt
Installer/backup/copyright/Done.txt
Installer/backup/copyright/Welcome.txt
Installer/backup/logos/banner.bmp
Installer/backup/logos/digipen_atom_game_panel.bmp
Installer/backup/logos/digipen_atom_game_panel.png
Installer/backup/logos/digipen_atom_panel.png
Installer/backup/logos/DigiPen_BLACK_1024px.png
Installer/backup/logos/digipen_panel.png
Installer/backup/logos/DigiPen_RED_1024px.png
Installer/backup/logos/DigiPen_WHITE_1024px.png
Installer/backup/logos/icon.ico
Installer/backup/logos/logo_banner.psd
Installer/backup/logos/panel_image_250.bmp
Installer/backup/package/Space Jump_Setup.exe
Installer/backup/redist/VC_redist.x64.exe
